{% extends 'AppBundle:Layouts:main_layout.html.twig' %}
{% form_theme form 'AppBundle:FormTemplates:form_row_template.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #form-container {
            margin: 5px;
            text-align: center;
        }
        
        #team-create-form {
            display: inline;
        }
        
    </style>
{% endblock %}
{% block content %}
    <div id="form-container">
        <h3 id="team-create-title">
            Create team
        </h3>
        <div id="team-create-form">
            {{ form_start(form) }}
            {{ form_errors(form.name) }}<br />
            {{ form_label(form.name) }}<br />
            {{ form_widget(form.name) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}